@model CRM.ViewModels.SignalsAnalytics.SignalsAnalyticsViewModel

<form method="post">
    <div class="filter_panel container">

        <div class="filter_element">
            @Html.DropDownListFor(m => m.Coin, CRM.Models.DropDownFields.GetCoins(), new { @class = "form-control filter_input", name = "coin", id = "coin_selector" })
        </div>

        <div class="filter_element">
            @Html.DropDownListFor(m => m.Exchange, CRM.Models.DropDownFields.GetExchanges(), new { @class = "form-control filter_input", name = "exchange", id = "excange_selector" })
        </div>


        <div class="filter_element">
            <input type="date" class="form-control filter_input" id="startDate" name="startDate" value=@Model.StartDate min="2019-04-05" />
        </div>


        <div class="filter_element">
            <input type="date" class="form-control filter_input" id="endDate" name="endDate" value=@Model.EndDate min="2019-04-01" />
        </div>

        <div class="filter_element">
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../SignalsAnalytics/SignalsPrivate" formmethod="post">
                SignalsPrivate
            </button>
        </div>
        <div class="filter_element">
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../SignalsAnalytics/TradeHistoryDeltas" formmethod="post">
                TradeHistoryDelta
            </button>
        </div>
    </div>

</form>

