<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Datavisio</title>
    @RenderSection("Styles", required: false)
    <link href="" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">

    <link href="~/css/mod.css" rel="stylesheet">
    <script src="~/js/app.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />

    <link href="~/css/stylesheet.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="~/js/sorttable.js"></script>
    <script>
        $(function () {

            /*** Фиксирование шапки ***/

            var navbar = $('.navbar');
            var fixedHeight = navbar.height();

            $(window).scroll(function () {
                if ($(window).scrollTop() > fixedHeight) {

                    navbar.removeClass('navbar-static-top').addClass('navbar-fixed-top');
                    $('body').css('padding-top', fixedHeight);
                } else {
                    navbar.removeClass('navbar-fixed-top').addClass('navbar-static-top');
                    $('body').css('padding-top', 0);
                }
            });


            function scrollToAnchor(aid) {
                var aTag = $(".anchor-point[id='" + aid + "']");
                $('html,body').animate({ scrollTop: aTag.offset().top }, 'slow');
            }

            $('.anchor-link').click(function () {
                var href = $(this).attr('href');
                var anchorId = href.replace('/#', '');
                scrollToAnchor(anchorId);
            })





        });</script>

    <style type="text/css">
        @@import url(//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold);

        @@font-face {
            font-family: "Gilroy ExtraBold";
            src: url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.eot");
            src: url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.woff") format("woff"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/00d5a78493aed4b11e2584ad7cceee49.svg#Gilroy ExtraBold") format("svg");
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Gilroy extrabold;
        }
    </style>

</head>
<body class="body_of_layout">
    <nav class="navbar navbar-default navbar-static-top">

        <div class="container">
            <div class="navbar-header">



                <!-- Branding Image -->
                <a class="navbar-brand" href="../Home/Index" style="padding-top: 25px;">
                    <img class="white-logo" src="~/images/visiologo.png" alt="logo">
                    <img class="dark-logo" src="~/images/visiologo.png" alt="logo">
                </a>

                <div class="navbar-header-bottom-line col-xs-12 no-padding">
                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

            </div>



            <div class="collapse navbar-collapse" id="app-navbar-collapse">

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Authentication Links -->
                    <li><a class="anchor-link" href="../TradeHistory/TradeHistory">История торгов </a></li>
                    <!--<li><a class="anchor-link" href="../Statistics/Statistics">Статистика</a></li>-->
                    <li><a class="anchor-link" href="../UserPanel/UserPanel">Аккаунт</a></li>

                </ul>

            </div>


        </div>
    </nav>

    @RenderBody()
    <footer>
    <section id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h2>Связаться с нами</h2>

                    <span class="text-op-80">Подпишитесь на наши обновления, чтобы узнавать новое первыми</span>


                </div>

                <div class="col-md-6 no-padding">

                    <form class="col-md-12 with-thanks">

                        <div class="col-md-6 no-padding">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="E-mail" required>
                            </div>
                        </div>

                        <div class="col-md-6 no-padding">

                            <button style="height: 55px;" type="submit" class="btn btn-primary btn-block">
                                <span class="btn-text">Подписаться</span>
                            </button>

                        </div>
                    </form>

                   
                </div>
                <div class="col-md-6 footer-links-block no-padding">
                    
                    <div class="col-sm-4 col-xs-12">
                        <h3>DataVisio</h3>
                        <a href="../TH/TradeHistory">История торгов</a>
                        <a href="../Charts/Charts">Графики параметров</a>
                        <a href="../UserPanel/UserPanel">Аккаунт</a>

                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <h3>Сотрудничество</h3>
                        <span>
                            DataVisio поддерживается
                            ООО "АНС технолоджис",
                            Беларусь, Минск, 4ый
                            переулок Кольцова, д. 51,
                            офис 224
                        </span>
                    </div>

                </div>


            </div>
        </div>

    </section>
    </footer>
    @RenderSection("Scripts", required: false)


</body>
</html>
