@{
    Layout = null;
}

    <aside id="sidebar" class="js-custom-scroll side-nav">
        <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
            <!-- Title -->
            <li class="sidebar-heading h6">Торговля</li>
            <!-- End Title -->
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="../Dashboard/Index">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-dashboard"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">История торгов</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="../Dashboard/Statistic">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-stats-up"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">Статистика</span>
                </a>
            </li>

            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="../Dashboard/TradeSettings">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-settings"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">Управление торговлей</span>
                </a>
            </li>


        </ul>
    </aside>