@{
    Layout = null;
}

    <aside id="sidebar" class="js-custom-scroll side-nav">
        <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
            <!-- Title -->
            <li class="sidebar-heading h6">Торговля</li>
            <!-- End Title -->
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="../Dashboard/Index">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-dashboard"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">История торгов</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="../Dashboard/Statistic">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-stats-up"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">Статистика</span>
                </a>
            </li>

            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="../Dashboard/TradeSettings">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-settings"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">Управление торговлей</span>
                </a>
            </li>

            <!-- Title -->
            <li class="sidebar-heading h6">Аккаунт</li>
            <!-- End Title -->
            <!-- Users -->
            <li class="side-nav-menu-item side-nav-has-menu">
                <a class="side-nav-menu-link media align-items-center" href="#" data-target="#subUsers">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-user"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">Профиль</span>
                    <span class="side-nav-control-icon d-flex">
                        <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
                    </span>
                    <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                </a>

                <!-- Users: subUsers -->
                <ul id="subUsers" class="side-nav-menu side-nav-menu-second-level mb-0">
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="">Баланс</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="">Управление</a>
                    </li>
                </ul>
                <!-- End Users: subUsers -->
            </li>
            <!-- End Users -->
            <!-- Settings -->
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="">
                    <span class="side-nav-menu-icon d-flex mr-3">
                        <i class="gd-settings"></i>
                    </span>
                    <span class="side-nav-fadeout-on-closed media-body">Настройки</span>
                </a>
            </li>
            <!-- End Settings -->



        </ul>
    </aside>