<section id="footer" class="clearfix ">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2>Связаться с нами</h2>

                <span class="text-op-80">Подпишитесь на наши обновления, чтобы узнавать новое первыми</span>


            </div>

            <div class="col-md-6 no-padding">

                <form class="col-md-12 with-thanks">

                    <div class="col-md-6 no-padding">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="E-mail" required>
                        </div>
                    </div>

                    <div class="col-md-6 no-padding">

                        <button type="submit" class="btn btn-primary btn-block">
                            <span class="btn-text">Подписаться</span>
                        </button>

                    </div>
                </form>



                <div class="col-md-12 social-links">
                    <a class='social-link' href="//www.facebook.com/datavisio/" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/facebook.svg">
                    </a>

                    <a class='social-link' href="//twitter.com/data_visio" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/twitter.svg">
                    </a>

                    <a class='social-link' href="//t.me/datavisioofficial" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/telegram.svg">
                    </a>


                    <a class='social-link' href="//www.reddit.com/user/DataVisio" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/reddit.svg">
                    </a>

                    <a class='social-link' href="//www.quora.com/profile/DataVisio" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/quora.svg">
                    </a>

                </div>
            </div>
            <div class="col-md-6 footer-links-block no-padding">



                <div class="col-sm-4 col-xs-12">
                    <h3>DataVisio</h3>
                    <a href="../TH/TradeHistory">История торгов</a>
                    <a href="../Data/Index">Таблицы параметров</a>
                    <a href="../Charts/Charts">Графики параметров</a>
                    <a href="../UserPanel/UserPanel">Аккаунт</a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <h3>Сотрудничество</h3>
                    <span>
                        DataVisio поддерживается 
                        ООО "АНС технолоджис", 
                        Беларусь, Минск, 4ый 
                        переулок Кольцова, д. 51, 
                        офис 224
                    </span>
                </div>

            </div>


        </div>
    </div>

</section>