<section id="footer" class="clearfix ">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2>Contact DataVisio</h2>

                <span class="text-op-80">Subscribe to our email list to recieve all news and updates</span>


            </div>

            <div class="col-md-6 no-padding">

                <form class="col-md-12 with-thanks">

                    <div class="col-md-6 no-padding">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="E-mail adress" required>
                        </div>
                    </div>

                    <div class="col-md-6 no-padding">

                        <button type="submit" class="btn btn-primary btn-block">
                            <span class="btn-text">Subscribe</span>
                        </button>

                    </div>
                </form>



                <div class="col-md-12 social-links">
                    <a class='social-link' href="//www.facebook.com/datavisio/" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/facebook.svg">
                    </a>

                    <a class='social-link' href="//twitter.com/data_visio" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/twitter.svg">
                    </a>

                    <a class='social-link' href="//t.me/datavisioofficial" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/telegram.svg">
                    </a>

                    <a class='social-link' href="" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/slack.svg">
                    </a>

                    <a class='social-link' href="//www.reddit.com/user/DataVisio" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/reddit.svg">
                    </a>

                    <a class='social-link' href="//www.quora.com/profile/DataVisio" target="_blank">
                        <img class="social-link-img img-responsive" src="http://datavisio.io/images/social/quora.svg">
                    </a>

                </div>
            </div>
            <div class="col-md-6 footer-links-block no-padding">



                <div class="col-sm-4 col-xs-12">
                    <h3>DataVisio</h3>
                    <a href="#">About Us</a>
                    <a href="#">Privacy policy</a>
                    <a href="#">User agreement</a>
                    <a href="#">Contact US</a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <h3>Collaboration</h3>
                    <a href="#">How to become our partner?</a>
                    <a href="#">How to connect our system to your exchange?</a>
                    <a href="#">DataVisio versions</a>
                    <a href="#">DataVisio open API</a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <h3>Information</h3>
                    <a href="#">Our blog</a>
                    <a href="#">Articles</a>
                    <a href="#">For news companies</a>
                </div>

            </div>


        </div>
    </div>

</section>