<header>



    <link href="~/css/app.css" rel="stylesheet">

    <link href="~/css/mod.css" rel="stylesheet">


    <nav class="navbar navbar-default navbar-static-top">

        <div class="container">
            <div class="navbar-header">



                <!-- Branding Image -->
                <a class="navbar-brand" href="../Home/Index">
                    <img class="navbar-brand-logo white-logo" src="http://datavisio.io/images/svg/logo-whitetext-horizontal.svg" alt="logo">
                    <img class="navbar-brand-logo dark-logo" src="http://datavisio.io/images/svg/logo-darktext-horizontal.svg" alt="logo">
                </a>

                <div class="navbar-header-bottom-line col-xs-12 no-padding">
                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

            </div>



            <div class="collapse navbar-collapse" id="app-navbar-collapse">

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Authentication Links -->
                    <li><a class="anchor-link" href="../TH/TradeHistory">История торгов </a></li>
                    <li><a class="anchor-link" href="../Data/Index">Таблицы параметров</a></li>
                    <li><a class="anchor-link" href="../Charts/Charts">Графики параметров</a></li>
                    <li><a class="anchor-link" href="../UserPanel/UserPanel">Аккаунт</a></li>
                    <li><a href="http://datavisio.io">Наш сайт</a></li>

                </ul>

            </div>


        </div>
    </nav>

</header>