
    <div class="filter_element">
        <div class="dropdown">
            <a class="dropbtn btn short_filter_button btn-primary dropdown_btn" href="">@Model.PageName</a>
            <div class="dropdown-content">
                @if (Model.PageName != "Profit")
                {
                    <a href="../Charts/ProfitChart">Прибыль</a>
                }
                @if (Model.PageName != "Orders On TimeHistory")
                {
                    <a href="../Charts/OrdersOnTimeHistory">Ордера</a>
                }
                @if (Model.PageName != "Signals")
                {
                    <a href="../Charts/Signals">Сигналы</a>
                }
            </div>
        </div>
    </div>