<div class="filter_element">
    <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/AsksOnBids" formmethod="post">Asks на Bids</button>
    <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/DeltaOnTradeHistory" formmethod="post">Delta на Trade History</button>
    <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/IndicatorPoints" formmethod="post">IndicatorPoints</button>
    <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/TradeHistoryOnTradeHistoryDelta" formmethod="post">TradeHistoryOnTradeHistoryDelta</button>
</div>