@model CRM.ViewModels.Charts.TradeHistoryOnTradeHistoryDeltaViewModel

<form action="/" method="post">

    <div class="filter_panel container">

        <div class="filter_element">
            <select class="form-control filter_input">
                <option value="binance">Binance</option>
            </select>
        </div>

        <div class="filter_element">
            @Html.DropDownListFor(m => m.Base, (IEnumerable<SelectListItem>)ViewBag.Coins, new { @class = "form-control filter_input", name = "coin", id = "coin_selector" })
        </div>

        <div class="filter_element">
            <input type="date" class="form-control filter_input_date" id="startDate" name="calulatingStartDate" value=@Model.CalculatingStartDate min="2019-04-05" />
        </div>
        <div class="filter_element">
            <input type="date" class="form-control filter_input_date" id="startDate" name="startDate" value=@Model.StartDate min="2019-04-05" />
        </div>

        <div class="filter_element">
            <input type="date" class="form-control filter_input_date" id="endDate" name="endDate" value=@Model.EndDate min="2019-04-01" />
        </div>

        <div class="filter_element">
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/AsksOnBids" formmethod="post">Asks на Bids</button>
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/DeltaOnTradeHistory" formmethod="post">Delta на Trade History</button>
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/IndicatorPoints" formmethod="post">IndicatorPoints</button>
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/TradeHistoryOnTradeHistoryDelta" formmethod="post">TradeHistoryOnTradeHistoryDelta</button>
        </div>

    </div>
</form>