@{
    ViewBag.Title = "Charts";

}

@section Scripts
{
    <script src="~/js/plotly-latest.min.js"></script> @*TODO [COMPLETE]: использовать для скриптов секцию scripts*@
    <script type="text/javascript">

        CHART = document.getElementById('Chart');

        var datesAsks = [];
        var datesBids = [];

        var asksValues = [];
        var bidsValues = [];


        @foreach (var item in Model.DatesAsks)
{
            <text>
            datesAsks.push(new Date(@item));
            </text>

}

        @foreach (var item in Model.AsksValues)
{
            <text>
            asksValues.push(parseFloat(@item));
            </text>

}

        @foreach (var item in Model.DatesBids)
{
            <text>
            datesBids.push(new Date(@item));
            </text>

}

        @foreach (var item in Model.BidsValues)
{
            <text>
            bidsValues.push(parseFloat(@item));
            </text>

}


        var asks = {
            x: datesAsks,
            y: asksValues,
            mode: 'lines',
            line: {
                color: 'rgb(128, 0, 128)',
                width: 2
            },
            name: 'OrderBookAsks'
        };

        var bids = {
            x: datesBids,
            y: bidsValues,
            mode: 'lines',
            line: {
                color: 'rgb(241, 79, 42)',
                width: 2
            },
            name: 'OrderBookBids'
            };


        var data = [asks,bids];

        Plotly.plot(CHART, data);

    </script>
}

@model CRM.ViewModels.Charts.AskOnBidViewModel

@Html.Partial("_AsksOnBidsFilterPanel")

<div class="content">

    @Html.ValidationSummary()
    
    <div id="Chart" style="display: @(Model.DatesAsks.Count != 0 ? "block" : "none")">
    </div>

</div>
