@{
    Layout = "~/Views/Shared/Charts/ChartsLayout.cshtml";
    ViewBag.Title = "Charts";
}

@model CRM.ViewModels.Charts.AskOnBidViewModel

@Html.Partial("_AsksOnBidsFilterPanel");

<div class="content">

</div>

@Html.Partial("Footer")