@{
    ViewBag.Title = "Charts";
}

@model CRM.ViewModels.Charts.AskOnBidViewModel

@Html.Partial("_AsksOnBidsFilterPanel");

    <head>
        <script src="~/js/plotly-latest.min.js"></script>
    </head>
<div class="content">

</div>
