@{
    ViewBag.Title = "Charts";
}

@model CRM.ViewModels.Charts.ProfitViewModel


    <head>
        <script src="~/js/plotly-latest.min.js"></script>
    </head>
    <div class="filter_panel">
        <form action="/" method="post">
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/ProfitChart" formmethod="get">Profit</button>
            <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../Charts/OrdersOnTimeHistory" formmethod="get">Orders on Time History</button>

        </form>
    </div>
    <div class="content">
       
    </div>
