@{

    ViewBag.Title = "Charts";
}

@section Scripts{
    <script src="~/js/plotly-latest.min.js"></script>
    <script type="text/javascript">

            CHART = document.getElementById('Chart');

                var datesDelta = [];
                var deltaValues = [];

                var datesTHBuy = [];
                var THBuyValues = [];

                var datesTHSell = [];
                var THSellValues = [];




            @foreach (var item in Model.DatesDelta)
            {
                <text>
                    datesDelta.push(new Date(@item));
                </text>

            }

            @foreach (var item in Model.DeltaValues)
            {
                <text>
                    deltaValues.push(parseFloat(@item));
                </text>

            }

            @foreach (var item in Model.DatesTHBuy)
            {
                <text>
                    datesTHBuy.push(new Date(@item));
                </text>

            }

            @foreach (var item in Model.THBuyValues)
            {
                <text>
                    THBuyValues.push(parseFloat(@item));
                </text>

            }

            @foreach (var item in Model.DatesTHSell)
            {
                <text>
                    datesTHSell.push(new Date(@item));
                </text>

            }

            @foreach (var item in Model.THSellValues)
            {
                <text>
                    THSellValues.push(parseFloat(@item));
                </text>

            }


            var Delta = {
                x: datesDelta,
                y: deltaValues,
                mode: 'markers',
                marker: {
                    color: 'rgb(51, 183, 86)',
                    size: 4
                },
                name: 'Delta'
            };

            var TradeHistoryBuy = {
                x: datesTHBuy,
                y: THBuyValues,
                mode: 'lines',
                line: {
                    color: 'rgb(128, 0, 128)',
                    width: 2
                },
                name: 'Trade History BUY'
                };

            var TradeHistorySell = {
                x: datesTHSell,
                y: THSellValues,
                mode: 'lines',
                line: {
                    color: 'rgb(241, 79, 42)',
                    width: 2
                },
                name: 'Trade History SELL'
            };

            var data = [Delta, TradeHistoryBuy, TradeHistorySell];

            Plotly.plot(CHART, data);

    </script>
}

@model CRM.ViewModels.Charts.DeltaOnTradeHistoryViewModel


@Html.Partial("_DeltaOnTradeHistoryFilterPanel");
<head>

</head>
<div class="content">
        
            <div id="Chart">

            </div>


    
</div>
