@{
    ViewBag.Title = "Charts";

}

@section Scripts
{
    <script src="~/js/plotly-latest.min.js"></script>
    <script type="text/javascript">

        CHART = document.getElementById('Chart');

        var Dates = [];
        var MACDValues = [];
        var SIGValues = [];

        @foreach (var item in Model.Dates)
        {
            <text>
            Dates.push(new Date(@item));
            </text>

        }

        @foreach (var item in Model.MACDValues)
        {
            <text>
            MACDValues.push(parseFloat(@item));
            </text>

        }

        @foreach (var item in Model.SIGValues)
        {
            <text>
            SIGValues.push(parseFloat(@item));
            </text>

        }

        var MACD = {
            x: Dates,
            y: MACDValues,
            mode: 'lines',
            line: {
                color: 'rgb(128, 0, 128)',
                width: 2
            },
            name: 'MACD'
        };

        var SIG = {
            x: Dates,
            y: SIGValues,
            mode: 'lines',
            line: {
                color: 'rgb(0, 128, 128)',
                width: 2
            },
            name: 'SIG'
        };

        var data = [MACD, SIG];

        Plotly.plot(CHART, data);

    </script>
}

@model CRM.ViewModels.Charts.IndicatorPointsViewModel

@Html.Partial("_IndicatorPointsFilterPanel");

<div class="content">

    @Html.ValidationSummary()

    <div id="Chart">
    </div>

</div>
