@{
    ViewBag.Title = "Signals";

}

@section Scripts
{
    <script src="~/js/plotly-latest.min.js"></script>
    <script type="text/javascript">

        CHART = document.getElementById('Chart');

        var RaiseDates = [];
        var FallDates = [];

        var RaiseValues = [];
        var FallValues = [];



        @foreach (var item in Model.RaiseDates)
        {
            <text>
        RaiseDates.push(new Date(@item));
            </text>
        }

        @foreach (var item in Model.RaiseValues)
        {
            <text>
        RaiseValues.push(parseFloat(@item));
            </text>

            }

        @foreach (var item in Model.FallDates)
        {
            <text>
        FallDates.push(new Date(@item));
            </text>
        }

        @foreach (var item in Model.FallValues)
        {
            <text>
        FallValues.push(parseFloat(@item));
            </text>

            }



            var Raise = {
            x: RaiseDates,
            y: RaiseValues,
            mode: 'lines+markers',
            marker: {
                color: 'rgb(61, 219, 13)',
                size: 4
            },
            line: {
                color: 'rgb(61, 219, 13)',
            width: 2
            },
            name: 'Raise'
        };
        
            var Fall = {
            x: FallDates,
            y: FallValues,
            mode: 'lines+markers',
            marker: {
                color: 'rgb(230, 9, 79)',
                size: 4
            },
            line: {
                color: 'rgb(230, 9, 79)',
            width: 2
            },
            name: 'Fall'
        };


        var data = [Raise, Fall];



        Plotly.plot(CHART, data);


    </script>
}

@model CRM.ViewModels.Charts.SignalsModel

<div class="content">

    @Html.ValidationSummary()

    <div id="Chart" style="display: @(Model.RaiseValues.Count != 0 ? "block" : "none")">
    </div>


</div>
