@{
    ViewBag.Title = "Charts";

}

@section Scripts
{
    <script src="~/js/plotly-latest.min.js"></script> @*TODO [COMPLETE]: использовать для скриптов секцию scripts*@
    <script type="text/javascript">

        CHART = document.getElementById('Chart');

        SECONDCHART = document.getElementById('SecondChart');

        var DatesTH = [];
        var DatesTHD = [];

        var THValues = [];
        var THDValues = [];


        @foreach (var item in Model.DatesTH)
        {
            <text>
            DatesTH.push(new Date(@item));
            </text>

        }

        @foreach (var item in Model.DatesTHD)
        {
            <text>
            DatesTHD.push(new Date(@item));
            </text>

        }

        @foreach (var item in Model.THValues)
        {
            <text>
            THValues.push(parseFloat(@item));
            </text>

        }

        @foreach (var item in Model.THDValues)
        {
            <text>
            THDValues.push(parseFloat(@item));
            </text>

        }


        var Volumes = {
            x: DatesTH,
            y: THValues,

            mode: 'lines+markers',
            marker: {
                color: 'rgb(128, 0, 128)',
                size: 8
            },
            line: {
            color: 'rgb(128, 0, 128)',
            width: 1
            }
        
            name: 'Volume'
        };

        var TickerAsks = {
            x: DatesTHD,
            y: THDValues,
            mode: 'lines',
            line: {
                color: 'rgb(241, 79, 42)',
                width: 2
            },
            name: 'Ticker Ask'
            };


        var data = [Volumes];

        Plotly.plot(CHART, data);

        data = [TickerAsks]

        Plotly.plot(SECONDCHART, data);

    </script>
}

@model CRM.ViewModels.Charts.TradeHistoryOnTradeHistoryDeltaViewModel


@Html.Partial("_TradeHistoryOnTradeHistoryDeltaFilterPanel");
<head>

</head>
<div class="content">

    <div id="Chart">

    </div>

    <div id="SecondChart">

    </div>



</div>
