.u-section-1 {
  background-image: url("images/datavisiomain2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-group-1 {
  min-height: 310px;
  margin-top: 170px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 35px 620px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 656px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 427px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 427px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 427px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 45px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 45px 20px 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 494px;
    margin-top: -637px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 296px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: -604px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 199px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 227px;
    margin-left: 13px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: -533px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 607px;
    margin-top: -482px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 68px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-right: 107px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 913px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 172px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-2 .u-text-3 {
  margin: 20px 15px 15px 102px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 161px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-2 .u-text-5 {
  margin: 20px 15px 15px 102px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 167px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: -77px 15px 0 102px;
}

.u-section-2 .u-text-7 {
  margin: 20px 15px 15px 102px;
}

.u-section-2 .u-image-1 {
  min-height: 500px;
  background-image: url("images/datavisiosecond.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 207px;
    margin-bottom: 44px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 142px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 138px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 36px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 144px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-image-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 137px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-image-1 {
    min-height: 298px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 837px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-image-1 {
  height: 611px;
  margin-top: 50px;
  margin-bottom: 60px;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 415px;
}

.u-section-4 .u-group-1 {
  width: 700px;
  min-height: 163px;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 162px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 20px 15px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-5 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-6 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-group-1 {
    width: 577px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 29px;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    width: 124px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-5 {
    position: relative;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-6 {
    position: relative;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    width: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 442px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-3 {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-4 {
    width: 139px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: 134px;
  }

  .u-section-4 .u-text-6 {
    width: 139px;
  }

  .u-section-4 .u-text-7 {
    width: 95px;
  }

  .u-section-4 .u-text-8 {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 414px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    width: 174px;
  }

  .u-section-4 .u-text-4 {
    width: 135px;
  }

  .u-section-4 .u-text-5 {
    width: 144px;
  }

  .u-section-4 .u-text-6 {
    width: 123px;
  }

  .u-section-4 .u-text-7 {
    width: 89px;
  }

  .u-section-4 .u-text-8 {
    width: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-4 .u-text-3 {
    width: 158px;
    margin-bottom: 18px;
  }

  .u-section-4 .u-text-4 {
    width: 138px;
  }

  .u-section-4 .u-text-5 {
    width: 136px;
  }

  .u-section-4 .u-text-6 {
    width: 125px;
  }

  .u-section-4 .u-text-7 {
    width: 125px;
  }

  .u-section-4 .u-text-8 {
    width: 125px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 525px;
}

.u-section-5 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 209px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 209px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 599px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 157px;
  margin: 47px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 20px 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 20px 15px;
}

.u-section-6 .u-form-1 {
  height: 314px;
  width: 737px;
  margin: 16px auto 60px;
}

.u-section-6 .u-form-group-4 {
  text-align: center;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-form-1 {
    width: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 360px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 338px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-form-1 {
    width: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 283px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }
}