
.unit-title {
    height: 10%;
}
.unit-body {
    height: 80%;
}

.unit-bottom{
    height:10%;
}

.count_of_units {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
}

.count_of_units .vertical-bar {
    width: 17%;
    height: 100%;
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px #a5a3a3 solid;
    border-radius: 5px;
    overflow: hidden;
}

.vertical-bar .unit-title {
    text-align: center;
    background-color: #322352;
    color: #fff;
    font-size: 22px;
}

.vertical-bar .unit-body {
    position: relative;
}


.unit-body-value {
    position: absolute;
    bottom: 50%;
    text-align:center;
}

.vertical-bar div{
    width:100%;
}

.vertical-bar .unit-fill {
    background-color: rgba(32, 180, 34, 0.4);
    position: absolute;
    bottom: 0;
}

.buy_sell{
    height:400px;
}

.box {
    display: inline;
    float: left;
    width: 40%;
    margin: 20px;
    text-align: center;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.box .box-line:first-child{
    border-bottom: 1px #ccc solid;
}

.box-line{
    height:25%;
    padding:10px;
}

.technical_indicators{
    width:100%;
    height:450px;
    margin-bottom:40px;
}

.left{
    display:initial;
    float: left;
}

.right{
    display:inline;
    float:right;
}

.w60{
    width:60%;
}

.w40{
    width:40%;
}

.h100{
    height:100%;
}