
.content {
    min-height: 400px
}

.parent {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.authorization{
    padding-top: 200pt;
}

.user_panel{
    padding-top: 100px;
}


.layout_block {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}


.col {
    margin-bottom: 50pt;
}

/* filter panel */
.filter_element {
    vertical-align: top;
    margin-right: 5px;
    padding-top: 10px;
}

.filter_input_datetime {
    border: 2px solid #a76be3 !important;
    background-color: transparent;
    height: 50px !important;
    width: 180px !important;
}

.filter_input_date {
    border: 2px solid #a76be3 !important;
    background-color: transparent;
    height: 50px !important;
    width: 150px !important;
}

.filter_input {
    border: 2px solid #a76be3 !important;
    background-color: transparent;
    height: 50px !important;
    width: 125px !important;
}

.filter_button {
    height: 50px !important;
    width: 325px !important;
    margin-right: 0 !important;
    padding: 0 !important;
}


.short_filter_button {
    height: 50px !important;
    width: 120px !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.filter_panel {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/* User Panel */

.user_button {
    height: 50px !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.user_row{
    display:inline-block;
}

.user_block {
    padding-top: 30px;
}

.user_input
{
    width:325px !important;
}

.page_button {
    background-color: #403577;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media only screen and (max-width: 600px) 
{
    #toTopButton {
        display: inline-block;
        background-color: #a76be3;
        opacity: 0.7 !important;
        font-size:30px;
        width: 100%;
        height: 80px;
        text-align: center;
        position: fixed;
        bottom: 0px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        color: white;
        padding-top: 5px;
    }


    #toTopButton.show {
        opacity: 1;
        visibility: visible;
    }
}


@media only screen and (min-width: 600px)
{
    #toTopButton {
        display: inline-block;
        background-color: #a76be3;
        width: 110px;
        height: 40px;
        text-align: center;
        position: fixed;
        bottom: 100px;
        right: 100px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        color: white;
        padding-top: 5px;
    }

        #toTopButton::after {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            font-size: 1em;
            line-height: 25px;
            color: #fff;
        }

        #toTopButton:hover {
            cursor: pointer;
            background-color: #333;
        }

        #toTopButton:active {
            background-color: #555;
        }

        #toTopButton.show {
            opacity: 1;
            visibility: visible;
        }

}

