@media only screen and (max-width: 600px) {
.table-font
{
    table-layout: auto;
    font-size: 7px !important;
    text-align: center;
}

.table-font td, th {
    padding: 1px !important;
    text-align: center;
}

.table_block {
    padding: 0 !important;
}

.Indicators{
    display:none !important;
}

}

table
{
    font-size: 14px;
}

.table-font td, th {
    text-align: center;
}



/* Popup box  */
.hover_bkgr_fricc {
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    .hover_bkgr_fricc .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .hover_bkgr_fricc > div {
        background-color: #a983f6;
        box-shadow: 0px 0px 60px #a76be3;
        display: inline-block;
        height: auto;
        max-width: 410px;
        min-height: 100px;
        vertical-align: middle;
        width: 60%;
        position: relative;
        border-radius: 2px;
        padding: 15px 5%;
        color: white;
    }

.trigger_popup_fricc {
    cursor: pointer;
}




.ProfitInfo th, .ProfitInfo td {
    border: 1px solid black;
    width: 300px;
}


.ProfitInfo {
    margin: 20px auto;
    width: 400px !important;
    font-size: 14px;
    text-align: center;
}



.Indicators {
    margin: 20px auto;
    width: 100% !important;
    font-size: 12px;
    text-align: center;
}

.Indicators th {
    background-color: #333334;
    width:200px;
    color: white;
}

.Indicators td {
    background-color: white;
    color: black;
}

.Indicators tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.Indicators tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

.Indicators tr:last-child th:first-child {
    border-bottom-left-radius: 8px;
}

.Indicators tr:last-child th:last-child {
    border-bottom-right-radius: 8px;
}

