
@model CRM.ViewModels.Data.OrderBookViewModel

<form method="post">
    <div class="filter_panel container">

        <div class="filter_element">
            @Html.DropDownListFor(m => m.Coin, DropDownFields.GetCoins(), new { @class = "form-control filter_input", name = "coin", id = "coin_selector" })
        </div>

        <div class="filter_element">
            @Html.DropDownListFor(m => m.Situation, DropDownFields.GetSituations(), new { @class = "form-control filter_input", name = "situation", id = "situation_selector" })
        </div>

        <div class="filter_element">
            <input type="date" class="form-control filter_input" id="startDate" name="startDate" value=@Model.StartDate min="2019-03-01" />
        </div>

        <div class="filter_element">
            <input type="date" class="form-control filter_input" id="endDate" name="endDate" value=@Model.EndDate min="2019-04-01" />
        </div>

        @Html.Partial("DataFilterPanelButtons")

    </div>
    
    

</form>
