<div class="filter_element">

    <button type="submit" id="TradeHistory" class="btn short_filter_button btn-primary" formaction="../Data/ShowOrderBookAsks" formmethod="post">
        OrderBooksAks
    </button>

    <button type="submit" id="TradeHistory" class="btn short_filter_button btn-primary" formaction="../Data/ShowTradeHistory" formmethod="post">
        TradeHistory
    </button>

    <button type="submit" id="TradeHistory" class="btn short_filter_button btn-primary" formaction="../Data/ShowOrderBookBids" formmethod="post">
        OrderBookBids
    </button>

    <button type="submit" id="TradeHistory" class="btn short_filter_button btn-primary" formaction="../Data/ShowTradeDelta" formmethod="post">
        TradeDelta
    </button>

</div>