
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.Partial("_OrderBookFilterPanel")
    </div>
    <div class="content">

    </div>


</body>
</html>
