@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <style media="screen">
        #title-block {
            min-height: 400px !important;
        }
    </style>
</head>

<body>
    <div id="app">

        <section id="title-block" class="clearfix">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>DataVisio - Система Автоматического Доверительного Управления</h1>

                        <span>
                            DataVisio - система автоматического доверительного управления капиталом на криптовалютных биржах
                            на основе математических алгоритмов и статистического анализа.
                        </span>

                        <ul>
                            <li><span>Эффективнее технического анализа для предсказания котировок.</span></li>
                            <li><span>Прогнозы строятся на основе математической обработки данных с бирж.</span></li>
                            <li><span>Архитектура системы применима для использования на 136 криптовалютных биржах.</span></li>
                        </ul>

                        <div class="buttons-block">
                            <a href="../TradeHistory/TradeHistory">
                                <span class="btn btn-primary">

                                    <span class="btn-text">История торгов</span>

                                </span>
                            </a>
                            <a  href="../SignalsAnalytics/SignalsPrivate">
                                <span class="btn btn-default">

                                    <span class="btn-text">Аналитика сигналов</span>

                                </span>
                            </a>
                           
                            <a href="../Data/Index">
                                <span class="btn btn-default">

                                    <span class="btn-text">Таблицы параметров</span>

                                </span>
                            </a>

                            <a href="../Charts/Charts">
                                <span class="btn btn-default">

                                    <span class="btn-text">Графики параметров</span>

                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section id="why-datavisio-tabs-block" class="clearfix hidden-xs">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">


                        <div class="tab-content clearfix hidden-xs" id="myTabContent">
                            <div class="tab-pane fade active in" role="tabpanel" id="why1" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-4">


                                        <img class="datavisio-values-image" src="~/images/svg/efficiency.svg">

                                        <h3>Эффективность</h3>

                                        <span class="text-op-80">
                                            Прекрасная альтернатива техническому анализу,
                                            который показывает только текущее состояние рынка
                                        </span>
                                    </div>

                                    <div class="col-md-4">

                                        <img class="datavisio-values-image" src="~/images/svg/accuracy.svg">

                                        <h3>Точность</h3>
                                        <span class="text-op-80">
                                            Из всех полученных нашей системой сигналов
                                            фильтры оставляют не более 0,5%
                                        </span>
                                    </div>

                                    <div class="col-md-4">

                                        <img class="datavisio-values-image" src="~/images/svg/lock.svg">

                                        <h3>Безопасность торговли</h3>
                                        <span class="text-op-80">
                                            Точная и быстрая обработка данных
                                            позволяет избежать потерь инвестиций
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">


                                        <img class="datavisio-values-image" src="~/images/svg/analytics.svg">

                                        <h3>Глубокий анализ</h3>

                                        <span class="text-op-80">
                                            DataVisio использует систему анализа больших данных,
                                            что позволяет проводить тщательный анализ
                                            и давать точные прогнозы
                                        </span>
                                    </div>

                                    <div class="col-md-4">

                                        <img class="datavisio-values-image" src="~/images/svg/automations.svg">

                                        <h3>Автоматизация</h3>
                                        <span class="text-op-80">
                                            DataVisio позволяет управлять счетами
                                            наших клиентов на 136 биржах
                                        </span>
                                    </div>

                                    <div class="col-md-4">

                                        <img class="datavisio-values-image" src="~/images/svg/enchantment.svg">

                                        <h3>Развитие</h3>
                                        <span class="text-op-80">
                                            DataVisio работает на основе научных методов
                                            и постоянно улучшается.
                                        </span>
                                    </div>
                                </div>





                            </div>


                        </div>
                    </div>



                </div>
            </div>

        </section>


    </div>
</body>
</html>
